<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.db_farmaciaConnectionString"
            connectionString="Data Source=DSDERONE;Initial Catalog=db_farmacia;Persist Security Info=True;User ID=sa;Password=dsderone2"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.db_farmaciaIpConnectionString"
            connectionString="Data Source=192.168.43.17;Initial Catalog=db_farmacia;User ID=sa;Password=dsderone2"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.db_farmaciadsConnectionString"
            connectionString="Data Source=PROJECTDS;Initial Catalog=db_farmacia;User ID=sa;Password=dsderone2"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.db_comercialConnectionString"
            connectionString="Data Source=dsd\SQLEXPRESS2012;Initial Catalog=db_comercial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>